@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

html, body {
  height: 100%;
  color: #939598;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

h1{
  color: #A6CE39;
  margin-bottom: 30px;
  font-size: 2em;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
}

h2{
  text-transform: uppercase;
  color: #338caf;
  font-size: 2em;
}

p{
  font-size: 18px;
}

.button-container{
  display: block;
  margin-top: 40px;
}

.custom-button{
  margin-top: 15px;
  padding: 10px 15px;
  background: #e47d00;
  color: #FFF;
  font-size: 20px;
  text-transform: uppercase;
  display: inline !important;
}

.custom-button:hover,
.custom-button:focus{
  background: #FFF;
  color: #e47d00;
  text-decoration: none;
}

.pad-section {
  padding: 20px 0;
}

.inner-section{
  padding: 50px 0 0 0;
}

.centered {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.white{
  color: #FFF;
}

.green{
  color: #A6CE39;
}

.blue{
  color: #338caf;
}

.orange{
  color: #e47d00 !important;
}

.navbar{
  background-color: #338caf;
  border: none;
}

ul.nav li a,
.navbar-brand{
  color: #FFF !important;
  text-transform: uppercase;
}

.date{
   padding: 15px;
   box-shadow: 3px 3px 5px #888;
   width: 150px;
   height: 150px;
   text-align: center;   
   clear: both;
   border: 1px solid #eee;   
   margin: 0 auto;
   margin-bottom: 15px;
}

.date .day{
  color: #e47d00;
  font-size: 98px;
  line-height: 80px;

}

.date .month{
  font-size: 24px;
}

#home {
  background: url(../images/top-bg.jpg) no-repeat center center fixed; 
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  line-height: 100%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home p{
  color: #FFF;
}

#register{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99999;

}

#when {
  background-color: #FFF;
  min-height: 300px;
  height: auto;
  position: relative;
}

#where{
  height: 300px;
  position: relative;
  display: block;
}

#where #map{
  height: 300px;
}

#where .title{
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  z-index: 1000;
  width: 100%;
}

#where .title h2{
  text-align: center;
}

#schedule {  
  display: block;
  min-height: 800px;
  height: auto;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

#schedule table{
  color: #FFF;
  font-size: 20px;
}

#schedule table thead tr{
  font-size: 25px;
}


#why {
  background-color: #338caf;
  color: #FFF;
  min-height: 330px;
  height: auto;
  padding-bottom: 20px;
}

#who{
  background-color: #A6CE39;
  color: #FFF;
}

#who table{
  font-size: 12px;
}

#sponsors{
  padding-bottom: 20px;
}

#git{
  background-color: #A6CE39;
  color: #FFF;
}

footer {
  height: 40px;  
  background: #e47d00;
}

footer p{
  color: #FFF;
}

footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

@media (min-width: 768px) {
  h1{
    font-size: 5em;
  }

  h2{
    font-size: 4em;
  }

  .date.first-date{
    float: right;
  }
  
  .date.second-date{
    float: left;    
  }

  #who, #why, #where,
  #where #map{
    min-height: 900px;
    height: auto;  
  }

  #who table{
   font-size: 18px;
  }

  #why .container,
  #who .container{
    padding-top: 100px
  }

  #when #dates{
    height: 260px;
  }

}

/* iframe styling */

iframe.highlight{
  background: none !important;
}