@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
/* general styles */
html, body {
  height: 100%;
  width: 100%;
  color: #939598;
  font-family: 'Roboto Condensed', sans-serif;
}

h1{
  color: #A6CE39;
  margin-bottom: 30px;
  font-size: 5em;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
}

h2{
  text-transform: uppercase;
  color: #338caf;
  font-size: 3em;
}

p{
  font-size: 18px;
}

.custom-buttom{
  padding: 10px 15px;
  background: #A6CE39;
  color: #FFF;
  font-size: 20px;
  text-transform: uppercase;
}

.custom-buttom:hover,
.custom-buttom:focus{
  background: #FFF;
  color: #A6CE39;
  text-decoration: none;
}

/* padded section */
.pad-section {
  padding: 30px 0;
}

.pad-section img {
  width: 100%;
}

.inner-section{
  padding: 50px 0 0 0;
}

/* vertical-centered text */
.centered {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.white{
  color: #FFF;
}

.green{
  color: #A6CE39;
}

.blue{
  color: #338caf;
}

.navbar{
  background-color: #338caf;
  border: none;
}

ul.nav li a,
.navbar-brand{
  color: #FFF !important;
  text-transform: uppercase;
}

.dates{
  width: 330px;
  height: 150px;
  margin: 0 auto;
}

.date{
   padding: 15px;
   box-shadow: 3px 3px 5px #888;
   width: 150px;
   height: 150px;
   text-align: center;
   float: left;
  
   border: 1px solid #eee;
}

.date:last-of-type{
   margin-left: 15px;
}

.date .day{
  color: #A6CE39;
  font-size: 98px;
  line-height: 80px;

}

.date .month{
  font-size: 24px;
}



/* Sections */

#home {
  background: url(../images/top-bg.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#when {
  background-color: #FFF;
  height: 300px;
  position: relative;
  width: 100%;
}

#where{
  height: 500px;
  position: relative;
}

#where .title{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 1000;
}

#where .title h2{
  text-align: center;
}

#where #map{
  height: 500px;
}



#schedule {
  background: url(../images/footer-bg.jpg) no-repeat center center fixed;
  display: table;
  height: 400px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#schedule table{
  color: #FFF;
  font-size: 20px;
}

#schedule table thead tr{
  font-size: 25px;
}


#why {
  background-color: #338caf;
  color: #FFF;
}

#who{
  background-color: #A6CE39;
  color: #FFF;
}

#git{
  background-color: #A6CE39;
  color: #FFF;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}